---
import { getCollection } from "astro:content";
const projectItems = await getCollection("projects");
import ArrowRight from "@/assets/svg/arrow-right.astro";
---

<section id="proyectos" class="py-16 md:py-32 bg-bg relative overflow-hidden">
  <div class="container mx-auto px-6 md:px-12 lg:px-16 max-w-7xl relative z-10">
    <div class="mx-auto prose prose-invert mb-10 md:mb-20 text-center opacity-0 motion-reduce:opacity-100" data-animate="animate-fade-in-up">
      <!-- Section Header -->
      <h1 class="text-4xl font-bold">Proyectos Destacados</h1>
      <p
        class="text-lg"
      >
        Una selección de proyectos que demuestran mis habilidades y experiencia
        en desarrollo web.
      </p>
    </div>

    <!-- Projects Grid -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      {
        projectItems.map((item) => {
          const { data, slug } = item;
          const { title, description, images } = data;
          return (
            <article
              class="border border-border/30 rounded-xl overflow-hidden shadow-lg hover:shadow-accent/30 hover:scale-[1.02] hover:border-accent-hover/50 transition-all duration-300 bg-card/30 backdrop-blur-sm cursor-pointer group opacity-0 motion-reduce:opacity-100"
              data-animate="animate-fade-in-left"
              transition:name={`project-${slug}`}
            >
              <a class="flex flex-col h-full" href={`/proyecto/${slug}`}>
                <img
                  src={images ? images[0] : "/projects/default-project.webp"}
                  alt={title}
                  class="w-full h-48 object-cover object-top transform group-hover:scale-105 transition-transform duration-300"
                  transition:name={`image-${slug}`}
                  loading="lazy"
                />
                <div class="p-6 flex flex-col grow prose prose-invert">
                  <h2
                    transition:name={`title-${slug}`}
                    class="text-xl font-bold group-hover:text-accent-hover transition-colors duration-300"
                  >
                    {title}
                  </h2>
                  <p
                    class="text-sm"
                    transition:name={`description-${slug}`}
                  >
                    {description}
                  </p>
                  <div class="mt-auto text-sm text-transparent group-hover:text-accent-hover transition-colors duration-300 font-medium">
                    Ver detalles
                    <ArrowRight size="12" class="inline-block text-transparent group-hover:text-icon-secondary transition-colors duration-300" />
                  </div>
                </div>
              </a>
            </article>
          );
        })
      }
    </div>
  </div>
</section>

<script>
  import { initAnimateOnScroll } from "@/utils/animateOnScroll";
  initAnimateOnScroll({
    scopeSelector: "#proyectos",
  });
</script>
