---
import Layout from "../../layouts/Layout.astro";
import { getCollection, render } from "astro:content";
import ArrowLeft from "@/assets/svg/arrow-left.astro";
import Images from "@/assets/svg/images.astro";
import ExternalLink from "@/assets/svg/external-link.astro";
import GitHubIcon from "@/assets/svg/github.astro";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((project) => ({
    params: { id: project.slug },
    props: { project },
  }));
}

const { project } = Astro.props;
const { data, slug } = project;
const {
  title,
  description,
  technologies,
  images,
  project_url,
  repository_url,
} = data;
---

<Layout title={`Proyecto - ${title}`}>
  <!-- project details -->
  <section
    class="pb-20 bg-bg text-primary min-h-screen"
    transition:name={`project-${slug}`}
  >
    <!-- Header -->
    <div
      class="relative h-[50vh] w-full mb-8"
      transition:name={`image-${slug}`}
    >
      <!-- Navigation  -->
      <div class="absolute top-0 left-0 md:top-10 md:left-10 z-20 flex gap-4">
        <a
          href="/"
          onclick="history.back(); return false;"
          class="flex items-center gap-2 bg-bg/60 hover:bg-bg/80 text-sm font-medium text-primary hover:text-accent px-4 py-2 m-4 rounded-full backdrop-blur-md border border-white/10 group transition-all duration-300"
        >
          <ArrowLeft
            size="16"
            class="group-hover:-translate-x-1 transition-transform"
          />
          Volver
        </a>
      </div>

      <!-- project image  -->
      <img
        src={images ? images[0] : "/projects/default-project.webp"}
        alt={title}
        class="w-full h-full object-cover object-top"
        loading="eager"
        decoding="async"
      />
      <div
        class="absolute inset-0 bg-linear-to-t from-bg via-bg/60 to-transparent z-0"
      >
      </div>

      <!-- project title  -->
      <article class="absolute bottom-0 left-0 w-full p-6 md:p-12">
        <div class="container mx-auto">
          <span
            class="text-accent text-sm border border-accent/20 rounded bg-cyan-950/50 py-1 px-3 mb-4 inline-block backdrop-blur-md"
          >
            Web Full Stack
          </span>
          <h1
            transition:name={`title-${slug}`}
            class="text-4xl md:text-5xl font-bold text-primary"
          >
            {title}
          </h1>
        </div>
      </article>
    </div>

    <!-- Main Content -->
    <div class="container grid grid-cols-1 lg:grid-cols-[1fr_2fr] mx-auto">
      <!-- Gallery -->
      <div class="space-y-4 px-6 mb-12 lg:mb-0">
        <h3 class="text-xl font-bold mb-4 text-primary flex items-center gap-2">
          <Images size="20" class="inline-block mr-2 mb-1 text-accent" />
          Galería
        </h3>
        {
          images?.map((image) => (
            <div class="rounded-xl overflow-hidden border border-accent/30 group hover:border-accent/50 transition-all duration-300">
              <img
                src={image}
                alt={`${title} - Imagen de proyecto`}
                class="w-full h-auto rounded-lg group-hover:scale-105 transition-transform duration-300 aspect-video object-cover object-center"
                loading="lazy"
                decoding="async"
              />
            </div>
          ))
        }
      </div>

      <!-- Details -->
      <div class="px-6 space-y-12 lg:mb-0">
        <h3 class="text-2xl font-bold mb-4 text-accent">
          Descripción detallada
        </h3>
        <p
          class="text-lg text-secondary leading-relaxed mb-8"
          transition:name={`description-${slug}`}
        >
          {description}
        </p>

        <!-- Technologies Used -->
        <h3 class="text-2xl font-bold mb-4 text-accent">
          Tecnologías Utilizadas
        </h3>
        <ul class="list-none text-secondary mb-8 flex flex-wrap gap-4">
          {
            technologies.map((tech) => (
              <span class="bg-slate-900/30 backdrop-blur-sm border border-accent/20 rounded-lg px-4 py-3 text-sm m-0 hover:bg-slate-900/50 hover:border-accent/50 transition-colors duration-300">
                {tech}
              </span>
            ))
          }
        </ul>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
          <div
            class="p-8 bg-slate-900/30 backdrop-blur-sm border border-accent/20 rounded-lg"
          >
            <h3 class="text-xl font-bold mb-4 text-primary">
              Desafíos Superados
            </h3>
            <p class="text-sm text-secondary prose">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>

          <!-- Results Achieved -->
          <div
            class="p-8 bg-slate-900/30 backdrop-blur-sm border border-accent/20 rounded-lg"
          >
            <h3 class="text-xl font-bold mb-4 text-primary">
              Resultados Obtenidos
            </h3>
            <p class="text-sm text-secondary prose">
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
        </div>

        <!-- Links -->
        <div
          class="flex flex-col sm:flex-row gap-4 pt-8 border-t border-slate-800/50"
        >
          {
            project_url && (
              <a
                href={project_url}
                target="_blank"
                rel="noopener noreferrer"
                class="flex-1 bg-accent  shadow-md hover:shadow-accent/50 hover:-translate-y-1 text-bg font-bold px-6 py-3 rounded-lg text-center transition-all duration-300 gap-2 flex justify-center items-center"
              >
                Ver Demo en Vivo
                <ExternalLink size="20" class="inline-block stroke-2" />
              </a>
            )
          }
          {
            repository_url && (
              <a
                href={repository_url}
                target="_blank"
                rel="noopener noreferrer"
                class="flex-1 bg-slate-900/30 hover:border-primary hover:-translate-y-1 text-primary border border-primary/30 font-bold px-6 py-3 rounded-lg text-center transition-all duration-300 gap-2 flex justify-center items-center"
              >
                <GitHubIcon size="20" class="inline-block stroke-2" />
                Ver Código en GitHub
              </a>
            )
          }
        </div>
      </div>
    </div>
  </section>
</Layout>
